.cover{
	background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
	height: 100vh;
	padding: 40px;
	text-transform: uppercase;
}
.cover img:nth-child(1){
	height: 90vh;
	position: absolute;
}
.cover .bg-purple{
	background: #5825c2;
}
.cover .bg-purple span{
	color: #fed832;
}
.cover h2{
	font-size: 35px;
    top: 70vh;
    position: relative;
    text-align: center;
    color: #fff;
	font-weight: 100;
}
.profiles{
	background-image: url('images/bg2.png');
    background-position: top;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}
.profiles .glitch{
    position: relative;
    float: right;
    display: block;
    z-index: 99;
}
.profiles .profiles-img{
	float: right;
	position: relative;
    height: 85vh;
    margin-right: -100px;
    margin-top: 5%;
}
.profiles h5{
	width: 40%;
	font-size: 18px;
	font-weight: 400;
	margin-left: 10%;
	position: absolute;
	margin-top: 25vh;
	background: #fff;
	border: 8px solid #ff005e;
	border-right: 35px solid #ff005e;
	z-index: 99;
}