.cover{
	background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
	height: 100vh;
	padding: 40px;
	text-transform: uppercase;
}
.cover img:nth-child(1){
	height: 90vh;
	position: absolute;
}
.cover .bg-purple{
	background: #5825c2;
}
.cover .bg-purple span{
	color: #fed832;
}
.cover h2{
	font-size: 35px;
    top: 70vh;
    position: relative;
    text-align: center;
    color: #fff;
	font-weight: 100;
}
.profiles{
	background-image: url('images/bg2.png');
    background-position: top;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}
.profiles .glitch{
    position: relative;
    float: right;
    display: block;
    z-index: 99;
    height: 100vh;
}
.profiles .profiles-img{
	float: right;
	position: relative;
    height: 85vh;
    margin-right: -100px;
    margin-top: 5%;
}
.profiles h5{
	width: 40%;
	font-size: 18px;
	font-weight: 400;
	margin-left: 10%;
	position: absolute;
	margin-top: 25vh;
	background: #fff;
	border: 8px solid #ff005e;
	border-right: 35px solid #ff005e;
	z-index: 99;
}
.first{
	position: relative;
	height: 100vh;
	display: block;
	background-image: url('images/1_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.first .video{
	width: 50%;
	height: 100vh;
	float: left;
}
.first .video video{
    position: absolute;
    bottom: 20px;
    left: 0;
    margin-left: 5%;
    background: #000;
}
.first .text{
	width: 50%;
	float: right;
    background: #f95f43;
}
.first .text h5{
	width: 70%;
	margin-top: 0;
	padding: 20% 30px;
	background-image: url('images/1_bg_text.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    color: #dd6954;
    font-size: 16px;
    font-weight: 200;
    height: 90vh;
}
.second{
	height: 100vh;
	background-image: url('images/2_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-attachment: fixed;
}
.second .number{
	width: 45%;
    height: 100vh;
    float: left;
}
.second .number img{
	height: 100vh;
}
.second .text-video video{
	background: #000;
}
.second .text-video{
	width: 55%;
	padding: 5% 10% 0;
    background: #a269f7;
    height: 100vh;
    float: right;
}
.second .text-video h5{
	background: #fff;
	padding: 10px 5px;
	font-weight: 200;
	font-size: 17px;
}
.third .video{
	height: 100vh;
	width: 50%;
	float: left;
	background-image: url('images/3_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
}
.third .video video{
    position: absolute;
    bottom: 20px;
    left: 0;
    margin-left: 5%;
    background: #000;
}
.third .text{
	height: 100vh;
	width: 50%;
	float: right;
	background-image: url('images/3_bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    z-index: -1;
    padding: 8% 2%;
}
.third .text h5{
	padding: 20px;
	color: #f8cc59;
	font-weight: 200;
	font-size: 18px;
}
.third .text h5:nth-child(1){
	background-image: url('images/3_text1.png');
	background-attachment: fixed;
}
.third .text h5:nth-child(4){
	background-image: url('images/3_text2.png');
	background-attachment: fixed;
}
.third .text h5:nth-child(7){
	background-image: url('images/3_text3.png');
	background-attachment: fixed;
}











